<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OverParse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OverParse.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value>C:\Program Files (x86)\SEGA\PHANTASYSTARONLINE2\pso2_bin</value>
            </setting>
            <setting name="EncounterTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>670</value>
            </setting>
            <setting name="WindowOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>275</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LogToClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeparateZanverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClickthroughEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeedsPluginUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoHideWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoHideWindowWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoEndEncounters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighlightYourDamage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeparateAIS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeparateAuxDamage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDamageGraph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SeparatePwp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeparateDB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeparateRide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeparateFinish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LowResources" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPUdraw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Clock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DPSSI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Nodecimal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Onlyme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NomyName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeparateLsw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Updateinv" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>ja-JP</value>
            </setting>
            <setting name="Variable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuestTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListPct" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListDmg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListDmgd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListDPS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListJA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListCri" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListHit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListAtk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Noto Sans CJK JP DemiLight</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="ListTS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsWriteTS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BanChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DamageSI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackContent" serializeAs="String">
                <value>Color</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>#FF0A0A0A</value>
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value>Path</value>
            </setting>
            <setting name="Foreground" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="BorderColor" serializeAs="String">
                <value>#88888888</value>
            </setting>
            <setting name="WaitingFill" serializeAs="String">
                <value />
            </setting>
            <setting name="RunningFill" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxSI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bouyomi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BouyomiSpan" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="BouyomiStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BouyomiPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BouyomiIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="BouyomiPort" serializeAs="String">
                <value>50001</value>
            </setting>
            <setting name="BouyomiFormat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EndVer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DamagedSI" serializeAs="String">
                <value>False</value>
            </setting>
        </OverParse.Properties.Settings>
    </userSettings>
</configuration>